@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgb(66, 148, 136);
  color: black;
  text-align: center;
}

#google-auth {
  background-color: rgb(66, 148, 136);
  margin-top: 13px;
  margin-right: 3.5vw;
  border-style: none;
}

#app {
  background-color: rgb(66, 148, 136);
}

#navigation {
  margin: 35px auto 0;
  width: 95%;
  height: 65px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
}

#filters {
  margin: 35px auto 0;
  width: 95%;
  height: 65px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
}

#card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 35px auto 0;
  width: 95%;
  height: 100%;
  border: 1px solid white;
}

#main-container {
  margin: 35px auto 0;
  width: 95%;
  height: 70vh;
  border: 1px solid black;
}

#logo {
  margin-top: 20px;
  color: orange;
}

#form-entry {
  color: white;
  margin-top: 20px;
}

#left-nav-content {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

#loginHeader {
  margin-top: 35vh;
}

.filter-buttons {
  height: 25px;
  margin-top: 20px;
  line-height: 5px;
}

.card {
  height: 250px;
  margin: 10px;
}
