@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/scss/bootstrap';

body {
  background-color: rgb(72, 224, 212);
  color: brown;
  text-align: center;
}

#google-auth {
  background-color: black;
}

#app {
  background-color: rgb(82, 202, 182);
}
