@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~bootstrap/scss/bootstrap';

@keyframes intro-header-animation {
  from {
    margin-top: 10vh;
    margin-left: 15vw;
    text-shadow: 6px 6px 0px black;
    color: white;
  }

  to {
    margin-top: 70vh;
  }
}

body {
  background-color: rgb(66, 148, 136);
  color: black;
  text-align: center;
}

#google-auth {
  background-color: rgb(0, 0, 0);
  border-radius: 0%;
  border-style: none;
  position: absolute;
  top: 40%;
  left: 47%;
}

#google-auth:hover {
  box-shadow: 20px 15px 0px white;
}

#app {
  background-color: rgb(66, 148, 136);
}

#navigation {
  margin: 35px auto 0;
  width: 95%;
  height: 65px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
}

#filters {
  margin: 35px auto 0;
  width: 95%;
  height: 65px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
}

#card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 35px auto 0;
  width: 95%;
  height: 100%;
  border: 1px solid white;
}

#main-container {
  margin: 35px auto 0;
  width: 95%;
  height: 70vh;
  border: 1px solid black;
}

#logo {
  margin-top: 20px;
  color: orange;
}

#form-entry {
  color: white;
  margin-top: 20px;
}

#left-nav-content {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

#loginHeader {
  color: white;
  margin-top: 10vh;
  margin-left: 15vw;
  width: 200px;
  font-size: 70px;
  text-shadow: 6px 6px 0px black;

  animation-name: intro-header-animation;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: steps(6, jump-none);
}
#loginHeader:hover {
  color: black;
  text-shadow: 6px 6px 0px white;
}

.filter-buttons {
  height: 25px;
  margin-top: 20px;
  line-height: 5px;
}

.card {
  height: 250px;
  margin: 10px;
}

#submit-vocab,
.mb-4 {
  width: 80%;
  color: white;
}

#book {
  margin-top: 600px;
  margin-left: 1050px;
}
